@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: cornsilk;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.but:hover {
    opacity: 0.5;
}

.cards {
    padding-left: 20px;
}

.ava {
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.info {
    display: flex;
}

.info-text {
    padding-top: 5px;
    margin-left: 25px;
    font-size: 14px;
}

.info p {
    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    background: #FFEBCD;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.description {
    padding-left: 20px;
    padding-right: 20px;
}

.courses {
    margin: auto;
    text-align: center;
    border-spacing: 60px 5px;
}

.contactsTable {
    margin: auto;
    text-align: center;
    border-spacing: 60px 1px;
}

.icons {
    width: 64px;
    cursor: pointer;
}

.logos div, .urls div {
    width: 74px;
}

.short {
    width: 450px;
}

.logos, .urls {
    text-align: center;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.days, .time {
    display: flex;
    flex-direction: column;
}

.learnTime {
    margin: auto;
    width: 42%;
    display: flex;
    justify-content: space-around;

}

.days div, .time div {
    padding-bottom: 10px;
}

@media (max-width: 1024px) {
    body {
      padding: 0 50px;
    }
  }
  
  @media (max-width: 767px) {
    body {
      padding: 0 10px;
      font-size: 12px;
  
    }
  }
